In [1]:
# Ans -1

In [2]:
# for loop

In [13]:
fruits = ["apple", "cherry", "banana"]
for fruit in fruits :
    print(fruit)

apple
cherry
banana

In [14]:
# while loop

In [19]:
x=-1
while x<6 :
    print(x)
    x+=1

-1
0
1
2
3
4
5

In [20]:
# Ans-2

In [21]:
# sum of product of first 10 natural numbers using a for loop

In [26]:
numbers = range(1,11)
sum_of_numbers = 0
product_of_numbers = 1

for num in numbers :
    sum_of_numbers +=num
    product_of_numbers *= num
    
    print("using for loop:")
    print("sum of the 10 natural numbers is:", sum_of_numbers)
    print("product of the 10 natural numbers is:", product_of_numbers)

using for loop:
sum of the 10 natural numbers is: 1
product of the 10 natural numbers is: 1
using for loop:
sum of the 10 natural numbers is: 3
product of the 10 natural numbers is: 2
using for loop:
sum of the 10 natural numbers is: 6
product of the 10 natural numbers is: 6
using for loop:
sum of the 10 natural numbers is: 10
product of the 10 natural numbers is: 24
using for loop:
sum of the 10 natural numbers is: 15
product of the 10 natural numbers is: 120
using for loop:
sum of the 10 natural numbers is: 21
product of the 10 natural numbers is: 720
using for loop:
sum of the 10 natural numbers is: 28
product of the 10 natural numbers is: 5040
using for loop:
sum of the 10 natural numbers is: 36
product of the 10 natural numbers is: 40320
using for loop:
sum of the 10 natural numbers is: 45
product of the 10 natural numbers is: 362880
using for loop:
sum of the 10 natural numbers is: 55
product of the 10 natural numbers is: 3628800

In [27]:
# Sum and product of the first 10 natural numbers using a while loop

In [ ]:
numbers = range(1,11)
sum_of_numbers = 0
product_of_numbers = 1
i = 0

while i < len(numbers):
    sum_of_numbers += numbers[i]
    product_of_numbers *= numbers[i]
    i += 1
    print("using while loop:")
    print("Sum of the first 10 natural numbers:", sum_of_numbers)
    print("product of the first 10 natural numbers:", product_of_numbers)

In [ ]:
# Ans -3

In [ ]:
units_consumed = int(input("Enter the number of units consumed: "))

if units_consumed <= 100:
    bill_amount = units_consumed * 4.5
elif units_consumed <= 200:
    bill_amount = 100 * 4.5 + (units_consumed - 100) * 6
elif units_consumed <= 300:
    bill_amount = 100 * 4.5 + 100 * 6 + (units_consumed - 200) * 10
else:
    bill_amount = 100 * 4.5 + 100 * 6 + 100 * 10 + (units_consumed - 300) * 20

print("Electricity bill amount for {} units is Rs.{}".format(units_consumed, bill_amount))

In [ ]:
#Ans-4-

In [ ]:
cubes_divisible_by_4_or_5 = []

for num in range(1, 101):
    cube = num ** 3
    if cube % 4 == 0 or cube % 5 == 0:
        cubes_divisible_by_4_or_5.append(num)

print("List of cubes of numbers divisible by 4 or 5:")
print(cubes_divisible_by_4_or_5)

In [ ]:
#Ans - 5-

In [ ]:
string = "I want to become a data scientist"
vowel_count = 0
for char in string:
     if char.lower() in vowels:
            vowel_count += 1
            print(char)
            print("Total vowels:", vowel_count)